In [1]:
##Import Pandas & numpy
import pandas as pd 
import numpy as np

In [2]:
##URL for Chipotle dataset
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

In [3]:
##Import data 
data = pd.read_csv(url, sep='\t')

In [4]:
##Grab data and create dataframe 
df = pd.DataFrame(data)

In [17]:
##Question 1 - Display Data (First 10 rows)
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [6]:
##Question 2 - Show Column Names 
for col_name in df.columns: 
    print(col_name)

order_id
quantity
item_name
choice_description
item_price

In [7]:
##Question 3 - Find the most-ordered item (hints: groupby and sort_values)

##Group By Item Name, Add
new_df = df.groupby('item_name').sum()
new_df = new_df.drop('order_id', 1)
new_df.head()

                       quantity
item_name
6 Pack Soft Drink            55
Barbacoa Bowl                66
Barbacoa Burrito             91
Barbacoa Crispy Tacos        12
Barbacoa Salad Bowl          10

In [8]:
##Sort new df - Most ordered item is Chicken Bowl 
new_df.sort_values(by=['quantity'], inplace=True, ascending=False)
new_df.head()

                     quantity
item_name
Chicken Bowl              761
Chicken Burrito           591
Chips and Guacamole       506
Steak Burrito             386
Canned Soft Drink         351

In [12]:
##Question 4 - Print the average revenue amount per order (hints: revenue = quantity*item_price)

#Step 1 - Group By Order_Id 

## Grab order ids and item prices
avg_df = df.loc[:,('order_id', 'item_price')]
avg_df.head()

   order_id item_price
0         1     $2.39
1         1     $3.39
2         1     $3.39
3         1     $2.39
4         2    $16.98

In [13]:
##Drop $ from price 
avg_df['item_price'] = avg_df["item_price"].str.replace('$', '')
avg_df.head()

   order_id item_price
0         1      2.39
1         1      3.39
2         1      3.39
3         1      2.39
4         2     16.98

In [14]:
##Convert item_price column to integer 
avg_df["item_price"] = pd.to_numeric(avg_df["item_price"])

In [15]:
#Step 2 - Sum of each order_id 
avg_df = avg_df.groupby('order_id').sum()
avg_df.head()

          item_price
order_id
1              11.56
2              16.98
3              12.67
4              21.00
5              13.70

In [16]:
##Step 3 - Get average of sum of order_ids
avg_df['item_price'].mean()

18.81142857142869