In [1]:
##Import Pandas & numpy
import pandas as pd 
import numpy as np

In [13]:
##Add first set of data 
data = { '#' : pd.Series([1,2,3,3,4], index =[0,1,2,3,4])}

In [16]:
##Create initial dataframe
df = pd.DataFrame(data)

In [17]:
##Print dataframe 
print(df)

   #
0  1
1  2
2  3
3  3
4  4

In [20]:
##Add additional columns Type 1 through Total 
df['Type 1']= pd.Series(["Grass", "Grass", "Grass", "Grass", "Fire"], index =[0,1,2,3,4])
df['Type 2']= pd.Series(["Poison", "Poison", "Poison", "Poison"], index =[0,1,2,3])
df['Total']= pd.Series([318,405,525,625,309], index =[0,1,2,3,4])

In [21]:
##Print updated dataframe to review 
print(df)

   # Type 1  Type 2  Total
0  1  Grass  Poison    318
1  2  Grass  Poison    405
2  3  Grass  Poison    525
3  3  Grass  Poison    625
4  4   Fire     NaN    309

In [22]:
##Add remaining columns 
df['HP']= pd.Series([45,60,80,80,39], index =[0,1,2,3,4])
df['Attack']= pd.Series([49,62,82,100,52], index =[0,1,2,3,4])
df['Defense']= pd.Series([49,63,83,123,43], index =[0,1,2,3,4])
df['Sp. Atk']= pd.Series([65,80,100,122,60], index =[0,1,2,3,4])
df['Sp. Def']= pd.Series([65,80,100,120,50], index =[0,1,2,3,4])
df['Speed']= pd.Series([45,60,80,80,65], index =[0,1,2,3,4])
df['Generation']= pd.Series([1,1,1,1,1], index =[0,1,2,3,4])
df['Legendary']= pd.Series([False,False,False,False,False], index =[0,1,2,3,4])

In [23]:
##Print updated dataframe to review 
print(df)

   # Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Grass  Poison    318  45      49       49       65       65     45
1  2  Grass  Poison    405  60      62       63       80       80     60
2  3  Grass  Poison    525  80      82       83      100      100     80
3  3  Grass  Poison    625  80     100      123      122      120     80
4  4   Fire     NaN    309  39      52       43       60       50     65

   Generation  Legendary
0           1      False
1           1      False
2           1      False
3           1      False
4           1      False

In [24]:
df.head()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Fire,NaN,309,39,52,43,60,50,65,1,False

In [27]:
##Add Missing Name Column 
name_column = pd.Series(["Bulbasaur", "Ivysaur", "Venusaur", "VenusaurMega Venusaur", "Charmander"], index =[0,1,2,3,4])

df.insert (1,'Name', name_column)
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False